<div class="ticket-list">
  <table>
    <thead>
      <tr>
        <th class="id">ID</th>
        <th class="subject">Assunto</th>
        <th class="created-at">Criado em</th>
        <th class="status">Status</th>
        <th class="priority">Prioridade</th>
        <th class="location">Localização</th>
        <th class="customer">Cliente</th>
        <th class="assignee">Responsável</th>
      </tr>
    </thead>
    <tbody>
      @for (ticket of tickets; track $index) {
        <tr>
          <td class="id">{{ ticket.id }}</td>
          <td class="subject">
            <div class="preview-container">
              <div class="text">{{ ticket.subject }}</div>
              <div class="preview" title="Pré visualizar" (click)="preview(ticket)"><i class="fa-solid fa-bars-staggered"></i></div>
            </div>
          </td>
          <td class="created-at">{{ ticket.createdAt }}</td>
          <td class="status">
            <span 
              class="status-circle"
              [ngClass]="{
                'status-open'       : ticket.status === 'Open',
                'status-in-progress': ticket.status === 'InProgress',
                'status-resolved'   : ticket.status === 'Resolved',
                'status-closed'     : ticket.status === 'Closed'
              }">
            </span>
            {{ ticket.status }}
          </td>
          <td class="priority">
            <span 
              class="priority-circle"
              [ngClass]="{
                'priority-low'   : ticket.priority === 'Low',
                'priority-medium': ticket.priority === 'Medium',
                'priority-high'  : ticket.priority === 'High',
                'priority-urgent': ticket.priority === 'Urgent'
              }">
            </span>
            {{ ticket.priority }}
          </td>
          <td class="location" [title]="getLocationHierarchy(ticket.location)">
            <div class="location-container">
              <span class="ellipsis">{{ getLocationHierarchy(ticket.location) }}</span>
              <div class="info"><i class="fa-solid fa-info"></i></div>
            </div>
          </td>
          <td class="customer">{{ ticket.customers[0].fullName }}</td>
          <td class="assignee">{{ ticket.assignees[0].fullName }}</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination-container">
    <div class="page-size-selector">
      <label for="pageSize">Itens por página: </label>
      <phds-select [options]="pageSizeOptions" [selectedValue]="size" (valueChange)="onPageSizeChange($event)"></phds-select>
    </div>
    <div>{{ paginationText }}</div>
    <div class="pagination-controls">
      <button class="control" (click)="prevPage()" [disabled]="page === 1"><i class="fa-solid fa-chevron-left"></i></button>
      @for (pageNum of pages; track $index) {
        <button class="control" (click)="goToPage(pageNum)" [disabled]="pageNum === page">{{ pageNum }}</button>
      }
      <button class="control" (click)="nextPage()" [disabled]="page * size >= totalItems"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
  </div>
</div>
@if (isModalOpen) {
  <app-message-preview [ticket]="selectedTicket" [userId]="currentUserId" (close)="closeModal()"></app-message-preview>
}