<div class="ticket-list">
  <h2>Chamados Abertos</h2>
  <table>
    <thead>
      <tr>
        <th class="id">ID</th>
        <th class="created-at">Criado em</th>
        <th class="updated-at">Última atualização</th>
        <th class="subject">Assunto</th>
        <th class="status">Status</th>
        <th class="priority">Prioridade</th>
        <th class="location">Localização</th>
        <th class="customer">Cliente</th>
        <th class="assignee">Responsável</th>
      </tr>
    </thead>
    <tbody>
      @for (ticket of tickets; track $index) {
        <tr>
          <td class="id">{{ ticket.id }}</td>
          <td class="created-at">{{ ticket.createdAt }}</td>
          <td class="updated-at">{{ ticket.updatedAt }}</td>
          <td class="subject">{{ ticket.subject }}</td>
          <td class="status">
            <span 
              class="status-circle"
              [ngClass]="{
                'status-open'       : ticket.status === 'Aberto',
                'status-in-progress': ticket.status === 'Em atendimento',
                'status-resolved'   : ticket.status === 'Solucionado',
                'status-closed'     : ticket.status === 'Fechado'
              }">
            </span>
            {{ ticket.status }}
          </td>
          <td class="priority">
            <span 
              class="priority-circle"
              [ngClass]="{
                'priority-low'   : ticket.priority === 'Baixo',
                'priority-medium': ticket.priority === 'Médio',
                'priority-high'  : ticket.priority === 'Alto',
                'priority-urgent': ticket.priority === 'Urgente'
              }">
            </span>
            {{ ticket.priority }}
          </td>
          <td class="location" [title]="getLocationHierarchy(ticket.location)">{{ getLocationName(ticket.location) }}</td>
          <td class="customer">{{ ticket.customers[0].fullname }}</td>
          <td class="assignee">{{ ticket.assignees[0].fullname }}</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination-container">
    <div class="page-size-selector">
      <label for="pageSize">Itens por página: </label>
      <phds-select [options]="pageSizeOptions" [selectedValue]="size" (valueChange)="onPageSizeChange($event)"></phds-select>
    </div>
    <div>{{ paginationText }}</div>
    <div class="pagination-controls">
      <button class="control" (click)="prevPage()" [disabled]="page === 1"><i class="fa-solid fa-chevron-left"></i></button>
        @for (pageNum of pages; track $index) {
          <button class="control" (click)="goToPage(pageNum)" [disabled]="pageNum === page">{{ pageNum }}</button>
        }
      <button class="control" (click)="nextPage()" [disabled]="page * size >= totalItems"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
  </div>
</div>
