@if (isEditModalOpen) {
  <phds-ticket-edit 
    [ticket]="ticket" 
    (closeModal)="closeEditModal()" 
    (ticketUpdated)="updateTicket($event)"
  />
}
<div class="flex justify-center bg-gray-100 h-full">
  <div class="bg-white p-2 overflow-auto rounded-3xl mr-2 w-full h-full">
    <div class="flex flex-col h-full rounded-2xl overflow-hidden">
      <div class="flex-1 overflow-y-auto flex flex-col">
        <div class="h-0">
          <div class="flex flex-col bg-gray-100 text-black p-4 mb-2 rounded-2xl">
            <div class="text-xl font-bold mb-2">{{ ticket.subject }}</div>
            <div class="text-base mt-2 mb-2 whitespace-pre-line" [innerHTML]="ticket.description"></div>
            <div class="self-end text-xs">{{ ticket.createdAt }}</div>
          </div>
          @for (comment of comments; track $index) {
            <div class="flex group relative">
              @if (comment.author.id !== userId) {
                <div class="flex items-center justify-center min-w-8 h-8 rounded-full self-end mb-2 mr-2 cursor-pointer" [ngClass]="getGradient(comment.author.fullName)">
                  <span class="font-bold text-white text-xs">{{ getInitials(comment.author.fullName) }}</span>
                </div>
              }
              <div class="w-full flex items-center group">
                @if (comment.author.id === userId) {
                  <div class="relative ml-auto select-none">
                    @if (!imageUrls[comment.id]) {
                      <div (click)="toggleMenu($index)" class="cursor-pointer opacity-0 group-hover:opacity-100" [ngClass]="{'opacity-100': activeMenuIndex === $index}"><i [ngClass]="activeMenuIndex === $index ? 'fa-solid fa-chevron-circle-down' : 'fa-solid fa-chevron-circle-up'" class="text-md"></i></div>
                    }
                    @if (activeMenuIndex === $index && !imageUrls[comment.id]) {
                      <div class="absolute top-[-5.625rem] right-0 bg-white shadow-sm rounded-2xl cursor-pointer text-sm w-44 z-10">
                        <ul class="space-y-1 border p-1 rounded-2xl">
                          <li (click)="editComment(comment); closeMenuAfterAction()" class="px-4 py-2 flex items-center">
                            <i class="fa-solid fa-pen mr-3"></i>
                            <span>Editar</span>
                          </li>
                          <li (click)="comment.canDelete ? deleteComment(ticket.id, comment.id) : null; closeMenuAfterAction()" [ngClass]="{'opacity-50': !comment.canDelete}" class="px-4 py-2 flex items-center text-red-500 bg-white">
                            <i class="fa-solid fa-trash mr-3"></i>
                            <span>Cancelar envio</span>
                          </li>
                        </ul>
                      </div>
                    }
                  </div>
                }
                @if (imageUrls[comment.id]) {
                  <div class="flex flex-col">
                    <img [src]="imageUrls[comment.id]" alt="Imagem do comentário" [ngClass]="{'rounded-br-md': comment.author.id === userId, 'rounded-bl-md': comment.author.id !== userId}" class="max-w-96 rounded-2xl mb-2"/>
                    <div class="flex flex-row items-center" [ngClass]="{'justify-end': comment.author.id === userId, 'justify-start': comment.author.id !== userId}"> 
                      @if (comment.author.id === userId) {
                        <div class="relative select-none">
                          <div (click)="toggleMenu($index)" class="cursor-pointer opacity-0 group-hover:opacity-100" [ngClass]="{'opacity-100': activeMenuIndex === $index}"><i [ngClass]="activeMenuIndex === $index ? 'fa-solid fa-chevron-circle-down' : 'fa-solid fa-chevron-circle-up'" class="text-md"></i></div>
                          @if (activeMenuIndex === $index) {
                            <div class="absolute top-[-5.625rem] right-0 bg-white shadow-sm rounded-2xl cursor-pointer text-sm w-44 z-10">
                              <ul class="space-y-1 border p-1 rounded-2xl">
                                <li (click)="editComment(comment); closeMenuAfterAction()" class="px-4 py-2 flex items-center">
                                  <i class="fa-solid fa-pen mr-3"></i>
                                  <span>Editar</span>
                                </li>
                                <li (click)="comment.canDelete ? deleteComment(ticket.id, comment.id) : null; closeMenuAfterAction()" [ngClass]="{'opacity-50': !comment.canDelete}" class="px-4 py-2 flex items-center text-red-500 bg-white">
                                  <i class="fa-solid fa-trash mr-3"></i>
                                  <span>Cancelar envio</span>
                                </li>
                              </ul>
                            </div>
                          }
                        </div>
                      }
                      <div class="flex flex-col p-4 mb-2 rounded-2xl max-w-[50%] text-black" [ngClass]="{'bg-blue-100 self-end rounded-tr-md ml-2': comment.author.id === userId, 'bg-gray-100 self-start rounded-tl-md mr-2': comment.author.id !== userId}">
                        <span class="mb-2 whitespace-pre-wrap" [ngClass]="{'self-end': comment.author.id === userId, 'self-start': comment.author.id !== userId}">{{ comment.content }}</span>
                        <div class="flex justify-end text-xs">
                          @if (comment.isUpdated) {
                            <span>Editado</span>
                            &nbsp;
                          }
                          <span>{{ comment.createdAt }}</span>
                        </div>
                      </div>
                      @if (comment.author.id !== userId){
                        <div class="relative">
                          <div (click)="toggleMenu($index)" class="cursor-pointer opacity-0 group-hover:opacity-100" [ngClass]="{'opacity-100': activeMenuIndex === $index}"><i [ngClass]="activeMenuIndex === $index ? 'fa-solid fa-chevron-circle-down' : 'fa-solid fa-chevron-circle-up'" class="text-md"></i></div>
                          @if (activeMenuIndex === $index) {
                            <div class="absolute top-[-3.375rem] left-0 bg-white shadow-sm rounded-2xl cursor-pointer text-smborder w-40 z-10">
                              <ul class="border p-1 rounded-2xl">
                                <li class="px-4 py-2 flex items-center">
                                  <i class="fa-regular fa-flag mr-3"></i>
                                  <span>Reportar</span>
                                </li>
                              </ul>
                            </div>
                          }
                        </div>
                      }
                    </div>
                  </div>
                }
                @else {
                  <div class="flex flex-col p-4 mb-2 rounded-2xl w-fit max-w-[50%] text-black" [ngClass]="{'bg-blue-100 self-end ml-2': comment.author.id === userId, 'bg-gray-100 self-start mr-2': comment.author.id !== userId}">
                    <span class="mb-2 whitespace-pre-wrap" [ngClass]="{'self-end': comment.author.id === userId, 'self-start': comment.author.id !== userId}">{{ comment.content }}</span>
                    <div class="flex justify-end text-xs">
                      @if (comment.isUpdated) {
                        <span>Editado</span>
                        &nbsp;
                      }
                      <span>{{ comment.createdAt }}</span>
                    </div>
                  </div>
                }
                @if (comment.author.id !== userId) {
                  <div class="relative mr-auto select-none">
                    @if (!imageUrls[comment.id]) {
                      <div (click)="toggleMenu($index)" class="cursor-pointer opacity-0 group-hover:opacity-100" [ngClass]="{'opacity-100': activeMenuIndex === $index}"><i [ngClass]="activeMenuIndex === $index ? 'fa-solid fa-chevron-circle-down' : 'fa-solid fa-chevron-circle-up'" class="text-md"></i></div>
                    }
                    @if (activeMenuIndex === $index && !imageUrls[comment.id]) {
                      <div class="absolute top-[-3.375rem] left-0 bg-white shadow-sm rounded-2xl cursor-pointer text-smborder w-40 z-10">
                        <ul class="border p-1 rounded-2xl">
                          <li class="px-4 py-2 flex items-center">
                            <i class="fa-regular fa-flag mr-3"></i>
                            <span>Reportar</span>
                          </li>
                        </ul>
                      </div>
                    } 
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
      <div class="mt-2 flex flex-wrap">
        @for (preview of filePreviews; track $index) {
          <div class="relative">
            <img [src]="preview" alt="Preview" class="h-20 w-20 mb-2 mr-2 object-cover rounded-2xl" />
            <button (click)="removeFile($index)" class="absolute top-2 right-4 flex justify-center items-center h-4 w-4 text-white rounded-full text-xs p-1">
              <i class="fa-solid fa-close"></i>
            </button>
          </div>
        }
      </div>
      @if (editingComment) {      
        <div class="flex">
          <div class="w-full h-14 mb-2 flex items-center bg-blue-100 p-4 rounded-2xl text-sm">
            <i class="fa-solid fa-pencil text-gray-700 mr-4 text-md"></i>
            <div class="flex flex-col">
              <span>Editar mensagem</span>
              <span class="text-gray-700 flex-1 text-xs">{{ originalComment }}</span>
            </div>
          </div>
          <button (click)="cancelEdit()" class="w-14 h-14 text-black text-xs px-2 py-1 bg-blue-100 rounded-2xl ml-2"><i class="fa-solid fa-xmark text-lg"></i></button>
        </div>
      }
      <div class="relative h-14 flex">
        <div class="relative flex-1 w-full">
          <textarea 
            [(ngModel)]="comment" 
            autosize 
            [minRows]="1" 
            [maxRows]="5" 
            class="w-full p-4 bg-gray-100 text-black rounded-2xl focus:outline-none resize-none" 
            placeholder="Responder">
          </textarea>
          <input type="file" (change)="onFileSelected($event)" accept="image/*" multiple class="hidden" id="file-input" />
          <label 
            for="file-input" 
            class="cursor-pointer absolute top-1/2 right-4 transform -translate-y-1/2">
            <i class="fa-regular fa-image text-lg"></i> 
          </label>
        </div>
        <button 
          (click)="editingComment ? updateComment() : sendComment()" 
          [disabled]="!comment.trim()" 
          [ngClass]="{'text-black': comment.trim(), 'text-gray-400': !comment.trim()}" 
          class="w-14 h-14 ml-2 px-4 flex items-center justify-center bg-gray-100 rounded-2xl">
          <i [ngClass]="editingComment ? 'fa-solid fa-check' :'fa-solid fa-arrow-up'" class="text-lg"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-3xl p-2 min-w-[512px] overflow-y-auto">
    <div class="flex flex-col">
      <div>
        <div class="mb-1">
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center font-bold">
            <span class="text-sm">Informações do Chamado</span>
            <div (click)="openEditModal()" class="bg-gray-100 flex items-center px-3 py-1 rounded-full cursor-pointer">
              <i class="fa-solid fa-pen text-xs mr-2"></i>
              <span class="text-sm font-normal">Editar</span>
            </div>
          </div>
        </div>
        <div class="space-y-1 mb-4">
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center">
            <p class="text-sm font-bold">Chamado</p>
            <p class="w-10 text-sm text-center px-3 py-1 rounded-full cursor-pointer">{{ ticket.id }}</p>
          </div>
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center">
            <p class="text-sm font-bold">Status</p>
            <p class="text-sm text-center px-3 py-1 rounded-full cursor-pointer">
              <span class="inline-block w-2 h-2 rounded-full mr-1"
                  [ngClass]="{
                    'bg-blue-400': ticket.status === 'Open',
                    'bg-yellow-300': ticket.status === 'InProgress',
                    'bg-green-500': ticket.status === 'Resolved',
                    'bg-gray-400': ticket.status === 'Closed'
                  }">
              </span>
              <span>{{ statusTranslationMap[ticket.status] }}</span>
            </p>
          </div>
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center">
            <p class="text-sm font-bold">Prioridade</p>
            <p class="text-sm text-center px-3 py-1 rounded-full cursor-pointer">
              <span class="inline-block w-2 h-2 rounded-full mr-1"
                  [ngClass]="{
                    'bg-green-500': ticket.priority === 'Low',
                    'bg-orange-400': ticket.priority === 'Medium',
                    'bg-red-500': ticket.priority === 'High',
                    'bg-red-700': ticket.priority === 'Urgent'
                  }">
                </span>
              <span>{{ priorityTranslationMap[ticket.priority] }}</span>
            </p>
          </div>
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center relative">
            <p class="text-sm font-bold">Localização</p>
            <p class="text-sm text-center px-3 py-1 rounded-2xl cursor-pointer max-w-72" (click)="openModal()">{{ getLastLocation(ticket.location) }}</p>
            <div *ngIf="showLocationModal" #locationDropdown class="absolute top-full left-0  mt-1 border bg-white p-4 rounded-2xl shadow-lg w-full">
              <div class="space-y-2">
                <div *ngFor="let location of locationHierarchy; let i = index"><span class="whitespace-pre font-robotoMono text-xs">{{ location }}</span></div>
              </div>
            </div>
          </div>
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center">
            <p class="text-sm font-bold">Data de Criação</p>
            <p class="text-sm text-center px-3 py-1 rounded-full cursor-pointer">{{ ticket.createdAt }}</p>
          </div>
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center">
            <p class="text-sm font-bold">Última Atualização</p>
            <p class="text-sm text-center px-3 py-1 rounded-full cursor-pointer">{{ ticket.updatedAt }}</p>
          </div>
          <div class="border rounded-2xl px-4 py-2 flex justify-between items-center">
            <p class="text-sm font-bold">Categoria</p>
            <p class="text-sm text-center px-3 py-1 rounded-full cursor-pointer">{{ ticket.category }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex justify-between items-center border px-4 py-2 rounded-2xl mb-1">
          <span class="text-sm font-bold">Envolvidos</span>
          <span class="text-sm px-3 py-1">{{ actors }}</span>
        </div>
        <div class="flex flex-col space-y-1">
          <div class="border rounded-2xl px-4 py-2 space-y-2">
            <p class="text-sm font-bold">Clientes</p>
            <div class="flex justify-between gap-2 text-sm">
              <div class="flex flex-col w-full">
                @for (customers of ticket.customers; track $index) {
                  <div class="flex items-center gap-2">
                    <div class="w-full flex justify-between bg-gray-100 px-3 py-1 rounded-full cursor-pointer" [ngClass]="{'mb-2': $index < ticket.customers.length - 1 }">
                      <span>{{ customers.fullName }}</span>
                      <div class="flex gap-1">
                        <button (click)="removeEntity(ticket.id, customers.id, 'Customer')" class="w-5"><i class="fa-solid fa-xmark"></i></button>
                      </div>
                    </div>
                  </div>
                }
                @empty {
                  <div class="bg-gray-100 px-3 py-1 rounded-full w-full"><span class="text-sm">Nenhum usuário atribuído</span></div>
                }
              </div>
              @if (!ticket.customers || ticket.customers.length === 0) {
                <button (click)="assignCurrentUser(assignmentType.Customer)" class="self-start py-1">
                  <i class="fa-solid fa-user"></i>
                </button>
              }
            </div>
          </div>
          <div class="border rounded-2xl px-4 py-2 space-y-2">
            <p class="text-sm font-bold">Atribuído a</p>
            <div class="flex justify-between gap-2 text-sm">
              <div class="flex flex-col w-full">
                @for (assignee of ticket.assignees; track $index) {
                  <div class="flex items-center gap-2">
                    <div class="w-full flex justify-between bg-gray-100 px-3 py-1 rounded-full cursor-pointer" [ngClass]="{'mb-2': $index < ticket.assignees.length - 1 }">
                      <span>{{ assignee.fullName }}</span>
                      <div class="flex gap-1">
                        <button (click)="removeEntity(ticket.id, assignee.id, 'Assignee')" class="w-5"><i class="fa-solid fa-xmark"></i></button>
                      </div>
                    </div>
                  </div>
                }
                @empty {
                  <div class="bg-gray-100 px-3 py-1 rounded-full w-full"><span>Nenhum usuário atribuído</span></div>
                }
              </div>
              @if (!ticket.assignees || ticket.assignees.length === 0) {
                <button (click)="assignCurrentUser(assignmentType.Assignee)" class="self-start py-1"><i class="fa-solid fa-user"></i></button>
              }
            </div>
          </div>
          <div class="border rounded-2xl px-4 py-2 space-y-2">
            <p class="text-sm font-bold">Observadores</p>
            <div class="flex justify-between gap-2 text-sm">
              <div class="flex flex-col w-full">
                @for (observer of ticket.observers; track $index) {
                  <div class="flex items-center gap-2">
                    <div class="w-full flex justify-between bg-gray-100 px-3 py-1 rounded-full cursor-pointer" [ngClass]="{'mb-2': $index < ticket.assignees.length - 1 }">
                      <span>{{ observer.fullName }}</span>
                      <div class="flex gap-1">
                        <button (click)="removeEntity(ticket.id, observer.id, 'Observer')" class="w-5"><i class="fa-solid fa-xmark"></i></button>
                      </div>
                    </div>
                  </div>
                }
                @empty {
                  <div class="bg-gray-100 px-3 py-1 rounded-full w-full"><span>Nenhum usuário atribuído</span></div>
                }
              </div>
              @if (!ticket.observers || ticket.observers.length === 0) {
                <button (click)="assignCurrentUser(assignmentType.Observer)" class="self-start py-1"><i class="fa-solid fa-eye"></i></button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
