<div class="flex justify-center h-full">
  <div class="bg-white p-2 overflow-auto rounded-3xl mr-2">
    <div class="flex flex-col h-full rounded-2xl overflow-hidden">
      <div class="flex-1 overflow-y-auto flex flex-col">
        <div class="flex flex-col bg-gray-100 text-black p-4 mb-2 rounded-2xl">
          <div class="text-xl font-bold mb-2">{{ ticket.subject }}</div>
          <div class="text-base mt-2 whitespace-pre-line" [innerHTML]="ticket.description"></div>
          <div class="self-end text-xs">{{ ticket.createdAt }}</div>
        </div>
        @for (comment of ticket.comments; track $index) {
          <div class="flex group relative">
            @if (comment.author.id !== userId) {
              <div class="flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full self-end mb-2 mr-2 cursor-pointer" [tp]="comment.author.fullName">
                <span class="font-bold text-black text-xs">{{ getInitials(comment.author.fullName) }}</span>
              </div>
            }
            <div class="flex flex-col p-4 mb-2 rounded-2xl w-fit max-w-[50%] text-black" [ngClass]="{'bg-green-300 self-end ml-auto': comment.author.id === userId, 'bg-gray-100 self-start mr-auto': comment.author.id !== userId}">
              <span class="mb-2 whitespace-pre-wrap" [ngClass]="{'self-end': comment.author.id === userId, 'self-start': comment.author.id !== userId}">{{ comment.content }}</span>
              <div class="flex justify-end text-xs">
                <span>{{ comment.createdAt }}</span>
                @if (comment.isUpdated) {
                  <span class="italic text-gray-500 ml-2">(Editado)</span>
                }
              </div>
            </div>
            @if (comment.author.id === userId) {
              <div
                class="flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full self-end mb-2 ml-2 cursor-pointer"
                [tp]="comment.author.fullName">
                <span class="font-bold text-black text-xs">{{ getInitials(comment.author.fullName) }}</span>
              </div>
            }
          </div>
        }
      </div>
      <div class="relative mt-2">
        <textarea [(ngModel)]="comment" autosize [minRows]="1" [maxRows]="5" class="flex-1 w-full p-4 pr-10 bg-gray-100 text-black rounded-2xl focus:outline-none resize-none" placeholder="Responder"></textarea>
        <button (click)="sendComment()" [disabled]="!comment.trim()" [ngClass]="{'text-black': comment.trim(), 'text-gray-500': !comment.trim()}" class="absolute inset-y-0 right-0 h-14 pr-6 flex items-center"><i class="fa-solid fa-arrow-up text-lg"></i></button>
      </div>
    </div>
  </div>
  <div class="min-w-[512px] bg-white p-2 rounded-3xl">
    <div class="flex flex-col p-4">
      <div class="flex items-center justify-between mb-4">
        <div class="text-lg font-bold">Informações do Chamado</div>
        @if (isAdmin() || isAgent()) {
          <i tp="Editar" class="fa-regular fa-pen-to-square text-xl cursor-pointer"></i>
        }
      </div>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <p class="text-sm font-bold">Chamado</p>
          <p class="text-sm text-right bg-blue-50 px-3 py-1 rounded-full cursor-pointer">{{ ticket.id }}</p>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-sm font-bold">Status</p>
          <p class="text-sm text-right bg-blue-50 px-3 py-1 rounded-full cursor-pointer">{{ statusTranslationMap[ticket.status] }}</p>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-sm font-bold">Prioridade</p>
          <p class="text-sm text-right bg-blue-50 px-3 py-1 rounded-full cursor-pointer">{{ priorityTranslationMap[ticket.priority] }}</p>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-sm font-bold">Localização</p>
          <p class="text-sm text-right bg-blue-50 px-3 py-1 rounded-full cursor-pointer"
            [tp]="getFullLocation(ticket.location)">{{ getLastLocation(ticket.location) }}</p>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-sm font-bold">Data de Criação</p>
          <p class="text-sm text-right bg-blue-50 px-3 py-1 rounded-full cursor-pointer">{{ ticket.createdAt }}</p>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-sm font-bold">Última Atualização</p>
          <p class="text-sm text-right bg-blue-50 px-3 py-1 rounded-full cursor-pointer">{{ ticket.updatedAt }}</p>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-sm font-bold">Categoria</p>
          <p class="text-sm text-right bg-blue-50 px-3 py-1 rounded-full cursor-pointer">{{ ticket.category ? ticket.category : 'undefined' }}</p>
        </div>
      </div>
      <div>
        <div class="text-lg font-bold mt-4 mb-4">Envolvidos</div>
        <div class="flex flex-col space-y-2">
          <div class="space-y-2">
            <p class="text-sm font-bold">Clientes</p>
            <div class="flex justify-between gap-2 text-sm">
              <div class="flex flex-col w-full">
                @for (customers of ticket.customers; track $index) {
                  <div class="flex items-center gap-2">
                    <div class="w-full flex justify-between bg-blue-50 px-3 py-1 rounded-full cursor-pointer"
                      [ngClass]="{'mb-2': $index < ticket.customers.length - 1 }">
                      <span>{{ customers.fullName }}</span>
                      <div class="flex gap-1">
                        <button (click)="removeCustomer(ticket.id, customers.id)" class="w-5"><i class="fa-solid fa-xmark"></i></button>
                      </div>
                    </div>
                  </div>
                }
                @empty {
                  <div class="bg-blue-50 px-3 py-1 rounded-full w-full"><span class="text-sm">Nenhum usuário atribuido</span></div>
                }
              </div>
              @if (!ticket.customers || ticket.customers.length === 0) {
                <button (click)="assignCurrentUserAsCustomer()" class="self-start py-1" tp="Atribuir a mim mesmo"><i class="fa-solid fa-user"></i></button>
              }
            </div>
          </div>
          <div class="space-y-2">
            <p class="text-sm font-bold">Atribuído a</p>
            <div class="flex justify-between gap-2 text-sm">
              <div class="flex flex-col w-full">
                @for (assignee of ticket.assignees; track $index) {
                  <div class="flex items-center gap-2">
                    <div class="w-full flex justify-between bg-blue-50 px-3 py-1 rounded-full cursor-pointer"
                      [ngClass]="{'mb-2': $index < ticket.assignees.length - 1 }">
                      <span>{{ assignee.fullName }}</span>
                      <div class="flex gap-1">
                        <button (click)="removeAssignee(ticket.id, assignee.id)" class=" w-5"><i class="fa-solid fa-xmark"></i></button>
                      </div>
                    </div>
                  </div>
                }
                @empty {
                  <div class="bg-blue-50 px-3 py-1 rounded-full w-full"><span>Nenhum usuário atribuido</span></div>
                }
              </div>
              @if (!ticket.assignees || ticket.assignees.length === 0) {
                <button (click)="assignCurrentUserAsAssignee()" class="self-start py-1" tp="Atribuir a mim mesmo"><i class="fa-solid fa-user"></i></button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
