<div class="flex items-center justify-center h-screen">
  <div class="w-[768px] h-[768px] bg-white p-2 overflow-auto shadow-lg rounded-3xl">
    <div class="flex flex-col h-full rounded-2xl overflow-hidden">
      <div class="flex-1 overflow-y-auto flex flex-col">
        <div class="flex flex-col bg-gray-200 text-black p-4 mb-4 rounded-2xl">
          <div class="text-xl font-bold mb-2">{{ ticket.subject }}</div>
          <div class="text-base mt-2" [innerHTML]="ticket.description"></div>
          <div class="self-end text-xs">{{ ticket.createdAt }}</div>
        </div>
        @for (comment of ticket.comments; track $index) {
          <div class="flex group relative">
            @if (comment.author.id !== userId) {
              <div class="flex items-center justify-center w-8 h-8 bg-gray-300 rounded-full self-end mb-4 mr-2">
                <span class="font-bold text-black text-xs">{{ getInitials(comment.author.fullName) }}</span>
              </div>
            }
            <div class="flex flex-col p-4 mb-4 rounded-2xl w-fit max-w-[70%] text-black" [ngClass]="{
                      'bg-green-300 self-end ml-auto': comment.author.id === userId,
                      'bg-gray-300 self-start mr-auto': comment.author.id !== userId
                    }">
              <span class="mb-2" [ngClass]="{
                  'self-end': comment.author.id === userId, 
                  'self-start': comment.author.id !== userId
                }">{{ comment.content }}</span>
              <div class="flex justify-end text-xs">
                <span>{{ comment.createdAt }}</span>
                @if (comment.isUpdated) {
                  <span class="italic text-gray-500 ml-2">(Editado)</span>
                }
              </div>
            </div>
            @if (comment.author.id === userId) {
              <div class="flex items-center justify-center w-8 h-8 bg-gray-300 rounded-full self-end mb-4 ml-2">
                <span class="font-bold text-black text-xs">{{ getInitials(comment.author.fullName) }}</span>
              </div>
            }
          </div>
        }        
      </div>
      <div class="relative mt-2">
        <input [(ngModel)]="comment"
          class="flex-1 w-full p-4 pr-10 bg-gray-200 text-black rounded-2xl focus:outline-none" type="text"
          placeholder="Responder" />
        <button (click)="sendComment()" [disabled]="!comment.trim()"
          [ngClass]="{'text-black': comment.trim(), 'text-gray-500': !comment.trim()}"
          class="absolute inset-y-0 right-0 pr-6 flex items-center">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>
