<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <div class="chat-body">
    <div class="chat-message subject-message">
      <div class="message-content">{{ ticket.description }}</div>
    </div>
    <div *ngFor="let comment of ticket.comments" 
         class="chat-message" 
         [ngClass]="{'sent': comment.author.id === userId, 'received': comment.author.id !== userId}">
      <div class="user-avatar"></div>
      <div class="message-content">{{ comment.content }}</div>
    </div>
  </div>
  <div class="chat-footer">
    <button class="close-button" (click)="closeModal()">Fechar</button>
  </div>
</div>
