.container {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    width: 320px;
}

.logo {
    font-family: 'Sui Genesis';
    text-align: center;
}

.heading {
    text-align: center;
}

input,
button {
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
    font-family: inherit;
}

.field,
.submit-button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
}

.submit-button {
    border: 1px solid #0066ff;
    background-color: #0066ff;
    color: #fff;
    cursor: pointer;
}