<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <input
        placeholder="Nome de usuário"
        class="field"
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
      />
    </div>
    <div>
      <input
        placeholder="Senha"
        class="field"
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
      />
    </div>
    <button class="submit-button" type="submit">Entrar</button>
  </form>
</div>
