@keyframes slide-down {
    from {
        top: -50px;
    }
    to {
        top: 10px;
    }
}
@keyframes slide-up {
    from {
        top: 10px;
    }
    to {
        top: -50px;
    }
}
.animate-slide-down {
    animation: slide-down 0.25s forwards;
}
.animate-slide-up {
    animation: slide-up 0.25s forwards 4.5s;
}