.phds-select {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.phds-select-selected,
.phds-select-dropdown div {
    display: flex;
    align-items: center;
}

.phds-select-selected {
    justify-content: space-between;
    width: 40px;
    height: 10px;
    padding: 10px;
    background-color: #D3E3FD;
    color: #001D35;
    border-radius: 10px;
    cursor: pointer;
}

.phds-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #D3E3FD;
    color: #001D35;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.phds-select-selected.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.phds-select-selected i {
    font-size: 10px;
}

.phds-select-dropdown div {
    display: flex;
    align-items: center;
    width: 40px;
    height: 10px;
    padding: 10px;
    cursor: pointer;
}

.phds-select-dropdown div:hover {
    background-color: #006CE0;
}

.phds-select-dropdown.hidden {
    display: none;
}