@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import '../node_modules/quill/dist/quill.bubble.css';

@import '../node_modules/tippy.js/dist/tippy.css';
@import '../node_modules/tippy.js/themes/light.css';
@import '../node_modules/tippy.js/animations/scale.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../public/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sui Genesis';
    src: url('../public/fonts/sui-generis-free.rg-regular.otf') format('opentype');
}