@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import '../node_modules/quill/dist/quill.bubble.css';

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../public/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sui Genesis';
    src: url('../public/fonts/sui-generis-free.rg-regular.otf') format('opentype');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F6F8FC;
}

:root {
    --background-white: #fff;
    --background-light-blue: #EAF1FB;
    --background-blue: #0066ff;
    --text-white: #fff;
    --error-red: #EF233C;
    --error-background: #F8C7CC;
}